

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    rgba(0, 201, 255, 1) 0%,
    rgba(146, 254, 157, 1) 100%
  );
}
.todo-app {
  width: 100%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin: 0 auto 30px;
  padding: 40px 20px 70px;
  box-shadow: 0 3px 15px #5d5d5d83;
}
.todo-topSide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 30px;
}

.todo-app h2 {
  font-size: 1.7em;
  font-weight: bold;
  color: #191a19;
}
.todo-app img {
  width: 40px;
  height: 40px;
}
.todo-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background-color: #ede0f1;
  margin-bottom: 20px;
}
#todo-text__input {
  flex: 1;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 10px 20px;
}
#submit-btn {
  border: none;
  outline: none;
  font-size: 1em;
  padding: 10px 40px;
  background-color: #2BB673;
  color: #fff;
  border-radius: inherit;
  cursor: pointer;
}
ul li {
  position: relative;
  list-style: none;
  font-size: 1em;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
}
ul li::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-image: url(/img/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 10px;
  left: 10px;
}
ul .checked{
    color: #555;
    text-decoration: line-through;
}
ul .checked::before{
  background-image: url(/img/check-512.webp);
}
ul li span{
    position: absolute;
    top: 12px;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    border-radius: 50px;
    text-align: center;
    transition: background 0.2s ease;
}
ul li span:hover{
    background-color: #dbd6dd;
    /* color: #fff; */
}